.v-progress {
  box-shadow: none;
  display: block;
  position: relative;
  width: 100%;
  height: $height;
  overflow: hidden;
  background-color: $barkBg;

  .indeterminate {
    background-color: $lightBg;
  }

  .indeterminate:after,
  .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    left: 0;
    will-change: left, right;
    top: 0;
    bottom: 0;
  }

  .indeterminate:before {
    animation: v-indeterminate 1.5s cubic-bezier(.65, .815, .735, .395) infinite;
  }

  .indeterminate:after {
    animation: v-indeterminate-short 1.7s cubic-bezier(.165, .84, .44, 1) infinite;
    animation-delay: 1s;
  }

}

